body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #2e86de;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
button {
    padding: 10px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #c70039;
}